* {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: #191919;
  padding: 24px;
}
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e3651d;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.copyBtn {
  height: 30px;
  font-size: 10px;
  font-weight: 700;
}
.charlength {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
}
.charlength span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}
.errorMessage {
  color: red;
  padding-bottom: 5px;
}
.generateBtn {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.generateBtn:hover {
  background-color: #ff7f2a; /* Adjusted hover background color */
}
.generateBtn:active {
  transform: scale(0.95); /* Scale down when button is clicked */
  transition: transform 0.1s cubic-bezier(0.42, 0, 0.58, 1);
}
.password-strength {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  color: white;
}
